.shared-entity-layout {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 2px solid black;
    padding: 40px;
    background-color: #ebe7e0;
}

@media (max-width: 760px) {
    .shared-entity-layout {
        padding: 16px;
        gap: 18px;
    }
}
